PORT=3000
NODE_ENV=development
APP_BASE_URL=http://127.0.0.1:3000
DATABASE_SRV=mongodb+srv://<USERNAME>:<PASSWORD>@<CLUSTER>/<DB>?appName=<APP_NAME>
DATABASE=mongodb://<USERNAME>:<PASSWORD>@<HOST_1>:27017,<HOST_2>:27017,<HOST_3>:27017/<DB>?ssl=true&replicaSet=<REPLICA_SET>&authSource=admin&appName=<APP_NAME>
DATABASE_PASSWORD=replace_me
ENABLE_SCHEDULED_JOBS=false

FIREBASE_PROJECT_ID=your-firebase-project-id
FIREBASE_CLIENT_EMAIL=firebase-adminsdk-xxxxx@your-project-id.iam.gserviceaccount.com
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nreplace_me\n-----END PRIVATE KEY-----\n"

EMAIL_USERNAME=replace_me
EMAIL_PASSWORD=replace_me
EMAIL_HOST=replace_me
EMAIL_PORT=replace_me
EMAIL_FROM=replace_me

GOOGLE_OAUTH_CLIENT_ID=TBD phase 2
GOOGLE_OAUTH_CLIENT_SECRET=TBD phase 2
FACEBOOK_OAUTH_CLIENT_ID=TBD phase 2
FACEBOOK_OAUTH_CLIENT_SECRET=TBD phase 2
JWT_SECRET=TBD phase 2
JWT_REFRESH_EXPIRES_IN_DAYS=TBD phase 2
JWT_ACCESS_EXPIRES_IN=TBD phase 2
